@mixin centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: "Lato-light";
    src: url(../assets/Font/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-regular";
    src: url(../assets/Font/Lato/Lato-Regular.ttf);
}

html {
    background: url("../assets/images/dot.png") center center no-repeat;
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "Lato-Regular";
    margin: 0;
}

.main-title {
    margin-bottom: 1.5rem;
}

.start-section {
    @include centerContent();
}

.start-div {
    background-color: rgb(255, 255, 255);
    width: 20rem;
    @include centerContent();
    padding-block: 1rem;
    padding-inline: 4rem;
    border: solid 2px rgb(185, 186, 186);
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.459);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 0.5rem;
}

.restart-div {
    background-color: rgb(255, 255, 255);
    width: 50%;
    @include centerContent();
    padding-block: 3rem;
    padding-inline: 5rem;
    border: solid 2px rgb(185, 186, 186);
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.459);
    margin-right: auto;
    margin-left: auto;
}

.difficulty-div {
    @include centerContent();

    h4 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
        font-family: "Lato-regular";
    }
}

.difficulty-btn-div {
    display: flex;
    justify-content: space-around;
}

.container-guess {
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30rem;
    border: solid 2px rgb(185, 186, 186);
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.459);
    @include centerContent();
    opacity: 1;
}

.clignote {
    animation: clignote 1s infinite;
}

@keyframes clignote {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 500px) {
    
    .start-div{
        padding: 2rem;
    }
    
    .restart-div{
        padding: 0;
        box-shadow: none;
        width: 20rem;
    }

    .container-guess{
        width: 19rem;
        box-shadow: none;
        padding: 0.5rem;

        h3{
            text-align: center;
        }
    }
}

@media (max-width: 375px) {
    .start-div{
        padding: 1rem;
    }
}

@media (max-width: 334px) {

    .start-div{
        width: 18rem;
        padding: 0;
    }

    .restart-div{
        width: 18rem;
    }
    
    .container-guess{
        width: 18rem;
        
    }

}
